body {
  background-color: #343a40;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stopWatch {
  color: #078fff;
  font-size: 200px;
  font-weight: bold;
}

button {
  margin: 10px;
}

@media (max-width:900px) and (min-width:400px){
  body{
    margin-top: 400px;
  }
  .container{
    width: 400px;
  }
  .stopWatch {
    font-size: 100px;

  }
}

@media (max-width:399px) and (min-width:300px){
  body{
    margin-top: 100px;
  }
  .container{
    width: 300px;
  }
  .stopWatch {
    font-size: 50px;

  }
  button {
    margin: 2px;
  }

}
